.list-item {
    height: 160px;
    position: relative;

    &:before {
        content: "";
        border: 23px solid transparent;
        border-top-color: black;
        position: absolute;
        top: 0px;
        // transform: translateY(100%);
        left: 10.2%;
    }

    &-0:before {
        border-top-color: #3a3c43;
    }

    &-1:before {
        border-top-color: #9da939;
    }

    &-2:before {
        border-top-color: #aec1bf;
    }

    &-3:before {
        border-top-color: #eebb3a;
    }

    &-4:before {
        border-top-color: #b83843;
    }

    section {
        position: relative;

        .circle {
            position: relative;
            width: 50px;
            height: 50px;
            top: 47px;
            border-radius: 50%;
            left: 120px;
            background: blue;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 70%;
                max-height: 64%;
            }
        }
    }
}