.list-item-content-container {
    max-height: 0px;
    transition: .3s linear;
    overflow: hidden;
}

@media all and (max-width: 320px) {
    .list-item-content-container {
        width: 320px;
        margin-left: -20px;
    }
}

.list-item-content-container.active {
    max-height: 100000px;
}