.lightbox-monitor-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: 2;
}

@media all and (max-width: 1024px) {
    .lightbox-monitor-container {
        width: calc(100% - 20px);
    }
}

.lightbox-monitor-image {
    width: 100%;
    user-select: none;
}

.lightbox-monitor-images-container {
    position: absolute;
    top: 4.8%;
    left: 4.3%;
    height: 72.7%;
    width: 91.9%;
    overflow: hidden;
    z-index: 2;
    background: #fff;
}

.lightbox-monitor-images-container.active {
    overflow: auto;
    overflow-x: hidden;
}

.lightbox-monitor-images-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.lightbox-monitor-images-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.lightbox-monitor-images-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #595555;
}

.lightbox-monitor-image-item {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 2;
    cursor: pointer;
}

.lightbox-monitor-image-item.active {
    display: inline-block;
}