.experience-projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.expirience-monitor-container {
    width: 400px;
    position: relative;
}

.expirience-monitor-image {
    width: 100%;
    height: 100%;
}

.monitor-content-container {
    position: absolute;
    top: 16px;
    left: 17px;
    width: 368px;
    height: 242px;
    overflow-x: hidden;
    background: #fff;
}

@media all and (max-width: 480px) {
    .monitor-content-container {
        width: 92%;
        height: 72%;
    }
}

.monitor-content-container-1 {
    background: #3f3f3f;
}

.monitor-content-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.monitor-content-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.monitor-content-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #595555;
}

.monitor-content-image {
    width: 100%;
}

@media all and (max-width: 1024px) {
    .experience-projects-container {
        gap: unset;
    }

    .expirience-monitor-container {
        margin: 20px;
    }
}


/* .monitor-overlay-container */