.personalprofile-text {
    display: inline-block;
    color: #fff;
    margin-bottom: 50px;
}

.personalprofile-container {
    padding-right: 20px;
}

@media all and (max-width: 480px) {
    .personalprofile-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}