.skills-title {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.skills-image-container {
    background: #fff;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1) rotate(0deg);


    transition: all .3s
}

.skills-image-container img {
    display: inline-block;
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform: rotate(0deg);
    transition: all 0.3s;
}

.skills-image-container.active {
    transform: scale(1.21);
}