.banner-container {
    /* width: 300px;
    height: 600px; */
}

.rtbhouse-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.advertiser-name {
    font-size: 30px;
    font-weight: 700;
    color: #575757;
    margin-bottom: 10px;
}